.footer_wrapper {
  font-size: 14px;

  hr{
    border: 2px solid rgb(255, 255, 255, 0.7);
    border-bottom-width: 0;
  }

  div {
    color: white;
    opacity: 0.7;
    text-align: center;
    margin: 15px 0;
  }
}
